html, body {
    background-color: #F1EEE9;
    margin:0px;
    height: 100%;
}

.outer-container {
    width: 100%;
    height: 100%;
    display: table;
}

.inner-container {
    text-align:center;
    display:table-cell;
    vertical-align: middle;
}

.login-button {
    margin: 15px 15px;
    width: 100px;
    height: 35px;
    background: #EC994B;
    border: 3px solid #15133C;
    border-radius: 10px;
    font-weight: 600;
}

.register-button {
    width: 100px;
    height: 35px;
    background: #F1EEE9;
    border: 3px solid #15133C;
    border-radius: 10px;
    font-weight: 600;
}

.input-mail {
    text-align:left;
    display: inline-block;
    vertical-align: middle;
}

.form-label {
    margin: 0 0 3px 3px; 
    font-size: 14px; 
    font-weight: 500;
}

.form-control {
    border:3px solid #15133C;
    background: #F1EEE9;
}

.nonbt-form {
    width: 200px;
    margin: 0 auto;
}
